body {
    font-family: arial;
}
img.overlayImage {
    width: 100%;
    display: block;
}
a.bookLink {
    margin-top:15px;
    padding:12px;
    background:#2ab27b;
    color:#fff;
    font-weight:bold;
    display:inline-block;
}
span.specItem {
    padding:5px;
    float:left;
    background:#8C1D40;
    color:#fff;
    margin-right:5px;
}
br.clear {
    clear:both;
}
sidebar {
    position:absolute;
    z-index:999;
    right:0;
    height:100%;
    width:0;
    overflow:hidden;
    background: #232323;
    box-shadow:0 0 25px rgba(0,0,0,.5);
}
    .overlayInfo {
        color:#f4f4f4;
    }
    sidebar h4 {
        width:100%;
        padding:10px;
        margin:0 auto;
        text-align:center;
        border-bottom:1px solid #a2a2a2;
        font-weight:bold;
    }
    div.sideInfo {
        width:100%;
        margin:0;
        padding:10px;
        border-bottom:1px solid #ccc;
    }
    span.clearfix {
        clear:both;
    }
    #sideContent {
        display:none;
    }
    div#close {
        position: absolute;
        right: 0;
        width: 45px;
        height: 45px;
        background: #8C1D40;
        text-align: center;
        line-height: 45px;
        color: #fff;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
        transition:.5s all;
    }
    div#close:hover {
        background: #c92453;
    }

nav#navbar {
    position: absolute;
    z-index: 999;
    width: 100%;
    border-radius: 0;
}
#navbar li {
    color: #f4f4f4;
    font-size: 16px;
    font-weight: bold;
    transition: background .5s, color .5s;
    height: 58px;
    padding: 0 15px;
    line-height: 59px;
    cursor:pointer;
}
#navbar li:hover, #navbar li.active {
    background:#000;
    color: #ffb310;
}
.navbar-inverse .navbar-collapse {
    float:left;
}
.rightSide {
    float: right;
    line-height: 59px;
    font-weight: bold;
    color: #f4f4f4;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition: background .5s, color .5s;
}
.rightSide:hover {
    color:#ffb310;
}