* {
  margin:0;
  padding:0;
}
header h1 {
  margin:18px 0;
}
a.actionLink {
  padding:13px;
  float:right;
  background:$asu-maroon;
  color:$dark-butt-color;
  font-weight:bold;
  border-radius:5px;
  margin-top:10px;
  transition:.5s background;

    &:hover {
      background: $asu-maroon-hover;
    }
}

a.editAction {
  padding:8px;
  border-radius:3px;
  background:$brand-success;
  color:$dark-butt-color;
  float:left;
  margin-right:10px;
}
.deleteAction {
  padding:8px;
  border-radius:3px;
  background:$brand-danger;
  color:$dark-butt-color;
  float:left;
  margin-right:10px;
  border:none;
}
.alert.alert-error {
  color:red;
}
/*
Nav
 */
nav.navbar {
  height: 59px;
  border-radius: 0;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color:$off-white;
  font-size:16px;
  font-weight:bold;
  transition:background .5s, color .5s;
  height: 58px;
  padding: 0 15px;
  line-height: 59px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-text:hover,.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover  {
  color: #ffb310;
  background-color: #000000;
}
div#add {
  width:40px;
  height:40px;
  text-align:center;
  line-height:40px;
  color:$dark-butt-color;
  text-shadow:$normalTextShadow;
  background:$asu-maroon;
  border:none;
  border-radius:50%;
  font-size:25px;
  box-shadow:$normalBoxShadow;
  transition:.5s all;
  cursor:pointer;

   &:hover {
      background: $asu-maroon-hover;
   }
}

div.showData {
  padding:15px;
  background:$white;
  box-shadow:$normalBoxShadow;
  position:absolute;
}
#optionsList {
  margin-top:15px;
}
.returnEntry {
  padding: 15px;
  box-shadow: $normalBoxShadow;
  float: left;
  clear: left;
  background: $white;
  margin-top: 10px;
}
span.optionData {
  float:left;
  margin-right:5px;
  font-weight:bold;
  border:1px solid $laravel-border-color;
}
div.specification {
  padding:15px;
  box-shadow:$normalBoxShadow;
  float:left;
  margin:10px 10px;
  border-radius:10px;
  background:$darken-bg;
    &.active {
      background:$white;
    }
}

.clearfix {
  clear:left;
  float:left;
}

/* Home */

div.adminHeading {
  float:left;
  margin-right:2%;
  background:$white;
  padding:1%;
  width:18%;

  div.icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: -35px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-radius:6px;
    box-shadow:0 0 2px rgba(0,0,0,.65);
    text-shadow:0 0 2px rgba(0,0,0,.5);

    &.blue {
      background: #0575E6;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #0575E6, #021B79);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #0575E6, #021B79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &.green {
      background: #11998e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &.orange {
      background: #fc4a1a;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &.red {
      background: #cb2d3e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &.purple {
      background: #42275a;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
  div.info {
    float:right;
    width:55%;

      span.data {
        font-weight:bold;
        font-size:20px;
      }
      span.desc {
        clear:both;
        display:block;
      }
  }
}
hr {
  border-top:1px solid $laravel-border-color !important;
}

#map .centerMarker{
  position:absolute;
  background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  top:50%;left:50%;
  z-index:1;
  margin-left:-10px;
  margin-top:-34px;
  height:34px;
  width:20px;
  cursor:pointer;
}