* {
  margin:0;
  padding:0;
}
header h1 {
  margin:18px 0;
}
a.actionLink {
  padding:13px;
  float:right;
  background:$asu-maroon;
  color:$dark-butt-color;
  font-weight:bold;
  border-radius:5px;
  margin-top:10px;
  transition:.5s background;

    &:hover {
      background: $asu-maroon-hover;
    }
}

a.editAction {
  padding:8px;
  border-radius:3px;
  background:$brand-success;
  color:$dark-butt-color;
  float:left;
  margin-right:10px;
}
.deleteAction {
  padding:8px;
  border-radius:3px;
  background:$brand-danger;
  color:$dark-butt-color;
  float:left;
  margin-right:10px;
  border:none;
}
.alert.alert-error {
  color:red;
}
/*
Nav
 */
nav.navbar {
  height: 59px;
  border-radius: 0;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color:$off-white;
  font-size:16px;
  font-weight:bold;
  transition:background .5s, color .5s;
  height: 58px;
  padding: 0 15px;
  line-height: 59px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-text:hover,.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover  {
  color: #ffb310;
  background-color: #000000;
}
div#add {
  width:40px;
  height:40px;
  text-align:center;
  line-height:40px;
  color:$dark-butt-color;
  text-shadow:$normalTextShadow;
  background:$asu-maroon;
  border:none;
  border-radius:50%;
  font-size:25px;
  box-shadow:$normalBoxShadow;
  transition:.5s all;
  cursor:pointer;

   &:hover {
      background: $asu-maroon-hover;
   }
}

div.showData {
  padding:15px;
  background:$white;
  box-shadow:$normalBoxShadow;
  position:absolute;
}
#optionsList {
  margin-top:15px;
}
.returnEntry {
  padding: 15px;
  box-shadow: $normalBoxShadow;
  float: left;
  clear: left;
  background: $white;
  margin-top: 10px;
}
span.optionData {
  float:left;
  margin-right:5px;
  font-weight:bold;
  border:1px solid $laravel-border-color;
}
div.specification {
  padding:15px;
  box-shadow:$normalBoxShadow;
  float:left;
  margin:10px 10px;
  border-radius:10px;
  background:$darken-bg;
    &.active {
      background:$white;
    }
}

.clearfix {
  clear:left;
  float:left;
}
.admin.container {
  width: 83%;
  float:right;
}
/* Home */

div.adminHeading {
  float:left;
  margin-right:2%;
  background:$white;
  width:12%;
  height:80px;

  div.icon {
    float: left;
    width: 56px;
    height: 100%;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height:80px;
    &.blue {
      background: #1c98e6;  /* fallback for old browsers */
    }
    &.green {
      background: #3ac0ac;  /* fallback for old browsers */
    }
    &.orange {
      background: #fc8a40;  /* fallback for old browsers */
    }
    &.red {
      background: #cb5b4e;  /* fallback for old browsers */
    }
    &.purple {
      background: #9a61b3;  /* fallback for old browsers */
    }
  }
  div.info {
    float:right;
    width: 58%;
    margin-top: 9px;

      span.data {
        font-weight:bold;
        font-size:20px;
      }
      span.desc {
        clear:both;
        display:block;
      }
  }
}
hr {
  border-top:1px solid $laravel-border-color !important;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
}
.dropdown-menu {
  padding:0;
}

/* Installer */
div#quick-actions {
  width:100%;

  .button {
    width:30%;
    float:left;
    margin:20px 1%;
    background:$brand-success;
    padding:1%;
    color:$white;
    font-size:20px;
    text-align:center;
    transition:.5s all;
    font-weight:bold;

    &:hover {
      background:$brand-success-light;
    }
  }
  span.glyphicon {
    font-size:50px;
    text-align:center;
    display:block;
    color:$white;
    margin-bottom:10px;
  }
}

sidebar.navbar {
  float: left;
  width: 14%;
  background:$navbar;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  border-radius:0;
  ul {
    margin-top:80px;
  }
  .navbar-nav > li {
    float:none;
    display:block;

    a {
      color:$off-white;
      font-weight:bold;
      transition:.5s all;
      font-size: 16px;
      text-indent:10px;

      &:hover, .open, .on {
        background:$navbar-hover;
      }
    }
    &.active a {
      background:$navbar-hover;
    }
  }
  .navbar-nav {
    width: 100%;
  }

  .dropdown-menu {
    position: relative;
    width: 100%;
    border-radius: 0;
    margin: 0;
    float: none;
      li a {
        background:$navbar-sub;
      }

    li.special a{
      background:$asu-gold;
      color:$black !important;

      &:hover {
        background:$asu-gold-light !important;
      }
    }
  }

}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background:$navbar-hover !important;
  border-color: #000;
}

div#main {
  margin-top:80px;
}

div#top {
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 9999;
  background: $topbar;
  box-shadow:$normalBoxShadow;

  div.leftSide{
    float:left;
    width:14%;
    font-family:$name-font;
    text-align: center;

    span.topHeader {
      color:$off-white;
      font-size: 25px;
      margin-top: 17px;
      text-align: center;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.65);
      text-shadow:$normalTextShadow;
    }
    span.headerTitDesc {
      display:block;
      color:$asu-gold;
      padding-top:2px;
      font-size:16px;
    }
  }
  span.rightHeader {
    color:$off-white;
    float: right;
    font-weight: bold;
    line-height: 70px;
    margin-right: 90px;
  }
}