* {
  margin:0;
  padding:0;
}
header h1 {
  margin:18px 0;
}
.row {
  @media screen and (max-width: $mobileBreak) {
    margin:0;
  }
}

table {
  max-width:100%;
  overflow-x:scroll;

  @media screen and (max-width: $mobileBreak) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;

    }

    tr {
      border: 1px solid #ccc;
      margin-bottom:20px;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    td form {
      float:left;
    }
    td a, td button {
      float:none !important;
      display:inline-block;
    }
  }
}

div.openSide {
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
  margin: 0;
  padding: 0;
  float: left;
  text-indent: 0;
  transition:.5s all;
  display:none;
  margin-top:10px;

  &:hover {
    background: rgba(255, 255, 255, 0.35);
  }

  @media screen and (max-width: $mobileBreak) {
    display:block;
  }
}

a.actionLink {
  padding:13px;
  float:right;
  background:$asu-maroon;
  color:$dark-butt-color;
  font-weight:bold;
  border-radius:5px;
  margin-top:10px;
  margin-right:50px;
  transition:.5s background;

    &:hover {
      background: $asu-maroon-hover;
    }
    @media screen and (max-width: $mobileBreak) {
      float: none;
      width: 100%;
      border-radius: 0;
      margin: 0;
      margin-top: 20px;
      display: block;
      height: 50px;
      line-height: 25px;
    }

}

a.editAction {
  padding:8px;
  border-radius:3px;
  background:$brand-success;
  color:$dark-butt-color;
  float:left;
  margin-right:10px;
}
.deleteAction {
  padding:8px;
  border-radius:3px;
  background:$brand-danger;
  color:$dark-butt-color;
  float:left;
  margin-right:10px;
  border:none;
}
.alert.alert-error {
  color:red;
}
/*
Nav
 */
nav.navbar {
  height: 59px;
  border-radius: 0;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color:$off-white;
  font-size:16px;
  font-weight:bold;
  transition:background .5s, color .5s;
  height: 58px;
  padding: 0 15px;
  line-height: 59px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-text:hover,.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover  {
  color: #ffb310;
  background-color: #000000;
}
div#add {
  width:40px;
  height:40px;
  text-align:center;
  line-height:40px;
  color:$dark-butt-color;
  text-shadow:$normalTextShadow;
  background:$asu-maroon;
  border:none;
  border-radius:50%;
  font-size:25px;
  box-shadow:$normalBoxShadow;
  transition:.5s all;
  cursor:pointer;

   &:hover {
      background: $asu-maroon-hover;
   }
}

div.showData {
  padding:15px;
  background:$white;
  box-shadow:$normalBoxShadow;
  position:absolute;
}
#optionsList {
  margin-top:15px;
}
.returnEntry {
  padding: 15px;
  box-shadow: $normalBoxShadow;
  float: left;
  clear: left;
  background: $white;
  margin-top: 10px;
}
span.optionData {
  float:left;
  margin-right:5px;
  font-weight:bold;
  border:1px solid $laravel-border-color;
  @media screen and (max-width: $mobileBreak) {
    float:none;
  }
}
div.specification {
  padding:15px;
  box-shadow:$normalBoxShadow;
  float:left;
  margin:10px 10px;
  border-radius:10px;
  background:$darken-bg;
    &.active {
      background:$white;
    }
}

.clearfix {
  clear:left;
  float:left;
}
.admin.container {
  width: 83%;
  float:right;

  @media screen and (max-width: $mobileBreak) {
    width:98%;
    float:none;
    margin:0 auto;
  }

}
.admin.container form#submit, .sort form {
  width:700px;
  max-width:100%;
}
/* Home */

div.adminHeading {
  float:left;
  margin-right:2%;
  background:$white;
  width:12%;
  height:80px;

  @media screen and (max-width: $mobileBreak) {
    width:48%;
    margin-bottom:15px;
  }

  div.icon {
    float: left;
    width: 56px;
    height: 100%;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height:80px;
    &.blue {
      background: #1c98e6;  /* fallback for old browsers */
    }
    &.green {
      background: #3ac0ac;  /* fallback for old browsers */
    }
    &.orange {
      background: #fc8a40;  /* fallback for old browsers */
    }
    &.red {
      background: #cb5b4e;  /* fallback for old browsers */
    }
    &.purple {
      background: #9a61b3;  /* fallback for old browsers */
    }
  }
  div.info {
    float:right;
    width: 58%;
    margin-top: 9px;

      span.data {
        font-weight:bold;
        font-size:20px;
      }
      span.desc {
        clear:both;
        display:block;
      }
  }
}
hr {
  border-top:1px solid $laravel-border-color !important;
  clear:both;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
}
.dropdown-menu {
  padding:0;
}

/* Installer */
div#quick-actions {
  width:100%;

  .button {
    width:30%;
    float:left;
    margin:20px 1%;
    background:$brand-success;
    padding:1%;
    color:$white;
    font-size:20px;
    text-align:center;
    transition:.5s all;
    font-weight:bold;

    &:hover {
      background:$brand-success-light;
    }
  }
  span.glyphicon {
    font-size:50px;
    text-align:center;
    display:block;
    color:$white;
    margin-bottom:10px;
  }
}

sidebar.navbar {
  float: left;
  width: 14%;
  background:$navbar;
  height: calc(100%);
  position: fixed;
  z-index:2;
  left: 0;
  border-radius:0;
  border:none;
  box-shadow: none;
  overflow-y:hidden;

  @media screen and (max-width: $mobileBreak) {
    width:80%;
    position:absolute;
    left:0;
    display:none;
    margin: 0;
  }

  ul {
    margin-top:90px;
    @media screen and (max-width: $mobileBreak) {
      margin-top:40px;
    }
  }
  .navbar-nav > li {
    float:none;
    display:block;

    a {
      color:$off-white;
      font-weight:bold;
      transition:.5s all;
      font-size: 16px;
      text-indent:10px;

      &:hover, .open, .on, &:focus {
        background:$navbar-hover;
        color:$asu-gold;
      }
    }
    &.active a {
      background:$navbar-hover;
      color:$asu-gold;
    }
  }
  .navbar-nav {
    width: 100%;
  }

  .dropdown-menu {
    position: relative;
    width: 100%;
    border-radius: 0;
    margin: 0;
    float: none;
      li a {
        background:$navbar-sub;
      }

    li.special a{
      background:$asu-gold;
      color:$black !important;

      &:hover {
        background:$asu-gold-light !important;
      }
    }
  }

}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background:$navbar-hover !important;
  border-color: #000;
}

div#main {
  margin-top:80px;
  @media screen and (max-width: $mobileBreak) {
    margin-top:0;
  }
}

div#top {
  position: fixed;
  top:0;
  right:0;
  z-index:999;
  width: 100%;
  height: $topbarHeight;
  background: $topbar;

  div.navTop{
    float:left;
    width:14%;
    font-family:$name-font;
    background: $topbar;
    text-align: center;
    height:$topbarHeight;

    @media screen and (max-width: $mobileBreak) {
      width:auto;
      text-align:left;
      width:100%;
      text-indent:15px;
    }

    span.topHeader {
      color:$off-white;
      font-size: 25px;
      margin-top: 17px;
      text-align: center;
      padding-bottom: 2px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.65);
      text-shadow:$normalTextShadow;
    }
    span.headerTitDesc {
      display:block;
      color:$asu-gold;
      padding-top:2px;
      font-size:16px;
    }
    span.normalText {
      color:$off-white;
      border-left: 2px solid rgba(255, 255, 255, 0.65);
      padding-left: 2px;
    }
  }

  @media screen and (max-width: $mobileBreak) {
    width:100%;
    position:relative;
  }

  span.rightHeader {
    color:$off-white;
    float: right;
    font-weight: bold;
    line-height: $topbarHeight;
    margin-right: 90px;

    @media screen and (max-width: $mobileBreak) {
      margin-right:15px;
    }
  }
}

/* Installers */
span.title {
  font-size:25px;
}
tr.past_due {
  background:$past-due;
}

div.blockData {
  width: 23%;
  float: left;
  margin-right: 2%;

  @media screen and (max-width: $mobileBreak) {
    width: 98%;
    margin:10px auto;
  }

  div.bookingTime {
    font-size: 15px;

    div.bookingTimeBooked {
      margin-top: 13px;
      padding: 10px;
      background: $white;
      float: left;
      clear: both;
      box-shadow: $normalBoxShadow;
    }
  }
  div.tags {
    margin-top: 12px;

    span.tag {
      margin-right: 7px;
      margin-bottom: 5px;
      padding: 5px;
      background: $asu-maroon;
      box-shadow: $normalBoxShadow;
      color: $white;
    }
  }
}

div.formRight {
  float:right;
  width:48%;

  form {
    width:100%;
  }
}

img.largeImage {
  max-width:80%;
  margin:0 auto;
  text-align:center;
  display: block;
}
