body {
  width:100%;
  overflow-x:hidden;
}
div.overlayImage {
  width: 100%;
  display: block;
  height:250px;
  background-size:cover !important;
}
a.bookLink {
  margin-top:15px;
  padding:12px;
  background:$brand-success;
  color: $dark-butt-color;
  font-weight:bold;
  display:inline-block;
  margin-left:10px;
}
span.specItem {
  padding:5px;
  float:left;
  background:$asu-maroon;
  color:$dark-butt-color;
  margin-right:10px;
  margin-top:10px;
}
br.clear {
  clear:both;
}
sidebar {
  position:absolute;
  z-index:999;
  right:0;
  height:100%;
  width:0;
  overflow:hidden;
  background: #232323;
  box-shadow:0 0 25px rgba(0,0,0,.5);

  .overlayInfo {
    color:$off-white;
  }
  h4 {
    width:100%;
    padding:10px;
    margin:0 auto;
    text-align:center;
    border-bottom:1px solid #a2a2a2;
    font-weight:bold;
  }
  .sideInfo {
    width:100%;
    margin:0;
    padding:10px;
    border-bottom:1px solid #ccc;
  }
  div#close {
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    background: $asu-maroon;
    text-align: center;
    line-height: 45px;
    color: $white;
    cursor: pointer;
    box-shadow: $normalBoxShadow;
    transition:.5s all;

      &:hover {
        background: $asu-maroon-hover;
      }
  }
}




nav#navbar {
  position: absolute;
  z-index: 999;
  width: 100%;
  border-radius: 0;

    li {
      color: #f4f4f4;
      font-size: 16px;
      font-weight: bold;
      transition: background .5s, color .5s;
      height: 58px;
      padding: 0 15px;
      line-height: 59px;
      cursor:pointer;
        &:hover, &.active {
          background:$black;
          color: $asu-gold;
        }
    }
}

.navbar-inverse .navbar-collapse {
  float:left;
  width:100%;
}
.rightSide {
  float: right;
  line-height: 59px;
  font-weight: bold;
  color: $off-white;
  text-shadow: $normalTextShadow;
  cursor: pointer;
  transition: background .5s, color .5s;
    &:hover {
      color:#ffb310;
    }
}

div#filters {
  position:absolute;
  top:100px;
  left:20px;
  padding:10px;
  background:$off-white;
  box-shadow:$normalBoxShadow;
  z-index:999;
}