
// Body
$body-bg: #f4f7f9;
$darken-bg: darken($body-bg, 8%);

$navbar: #2f3042;
$navbar-sub: lighten($navbar, 10%);
$navbar-hover: darken($navbar, 10%);

$topbar: darken($navbar, 12%);

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-success-light: lighten($brand-success, 8%);

$brand-warning: #cbb956;
$brand-danger: #bf5329;

$past-due: #ffe4df;

$asu-maroon: #8C1D40;
$asu-maroon-hover: #c92453;

$asu-gold: #ffb310;
$asu-gold-light: #ffdf5c;

$off-white:#f4f4f4;
$dark-butt-color: #fff;
$white: #fff;
$black: #000;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Lato", sans-serif;

$name-font: "Acme", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


//Shadows
$normalBoxShadow: 0 0 10px rgba(0,0,0,.5);
$normalTextShadow: 0 0 5px rgba(0,0,0,.5);

//Sizing
  //Top and Side
    $topbarHeight: 75px;